.about{
    &--git{
        background-color: var(--alt-item);
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-template-rows: calc(2rem + 0.6vw) 1fr;
        gap: 1rem 3rem;
        padding: 1rem 3rem;
        overflow: hidden;

        @include respond(phone){ // width < 600
            padding: 1rem;
        }

        i{
            grid-row: span 2;
            align-self: center;

            &::before{
                font-size: 10rem;
            }
        }
        h3, div{
            grid-column: 2;
            width: calc(100% - 1rem);
        }
        h3{
            align-self: end;
        }
    }

    &--react{
        display: grid;
        grid-template-columns: 1fr 20rem;
        grid-template-rows: calc(2rem + 0.6vw) 1fr;
        gap: 1rem 0;
        overflow: hidden;

        @include respond(phone){ // width < 600
            grid-template-columns: 1fr 15rem;
        }

        span{
            grid-column: 2;
            grid-row: span 3;
            transform: scale(1.5);
        }
        h3, div, ul{
            grid-column: 1;
        }
        h3{
            grid-row: 1;
            align-self: end;
        }
        ul{
            align-self: start;
        }
        img{
            animation: fullRotate 10s linear infinite;
        }
    }

    &--css{
        background-color: var(--alt-item);
        padding: 1rem 3rem;
        overflow: hidden;

        h3{
            padding-bottom: 1rem;
        }

        @include respond(phone){ // width < 600
            padding: 1rem;
        }
    }

    &--hosting{
        display: grid;
        grid-template-columns: 16rem 1fr;
        grid-template-rows: calc(2rem + 0.6vw) 16rem 1fr;
        gap: 1rem 3rem;
        overflow: hidden;

        @include respond(phone){ // width < 600
            grid-template-columns: 10rem 1fr;
            grid-template-rows: calc(2rem + 0.6vw) 30rem 1fr;
        }

        i{
            grid-row: 2;
            align-self: center;
            text-align: center;

            &::before{
                font-size: 10rem;
            }
        }

        span{
            grid-row: 3;
            align-self: start;
        }

        h3, ul{
            grid-column: 2;
        }
        ul{
            grid-row: 2 / 4;
        }
    }
}