.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5rem;
    justify-items: center;
    align-items: center;

    a{
        text-decoration: none;
    }

    &__item{
        background-color: var(--surface-muted);
        width: 25rem;  
        text-align: center;
        border: 1px solid var(--accent);
        border-radius: 20rem 5rem 1rem 5rem;
        box-shadow: inset 0 0 2rem 0.5rem var(--accent);
        transition: 
            background-color 0.5s linear,
            border-radius 0.5s linear, 
            box-shadow 0.5s linear, 
            transform 0.5s linear;  
        color: var(--text);
        
        height: 25rem;
        transform: rotate(45deg);

        div{
            transform: rotate(-45deg) translateX(-4rem) translateY(7rem);
            text-align: center;
            max-width: 18rem;
        }

        h2{
            font-weight: 300;
            color: var(--heading);
        }

        &--right{
            justify-self: end;
        }

        &:hover{
            cursor: pointer;
            background-color: transparent;
            box-shadow: inset 0 0 1rem 0.25rem var(--accent);
            border-radius: 15rem 10rem 3rem 10rem;
            transform: scale(1.25) rotate(45deg);
            transition: 
                background-color 0.5s linear, 
                border-radius 0.5s linear, 
                box-shadow 1s cubic-bezier(1, 2.5, 0.4, 1.8), 
                transform 1s cubic-bezier(1, 2.5, 0.4, 1.8);  
        }
    }

    @include respond(phone){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}