.projects-grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;

    a{
        text-decoration: none;
        color: inherit;
    }

    p{
        color: var(--text);
    }

    @include respond(phone) { // width < 600?
        grid-template-columns: 1fr;
    }
}