main{
    position: relative;
    z-index: 1;
    margin: 0;
    min-height: calc(100vh - 30rem);
    //margin-top: -100vh;
  
    @include respond(tab-port){
        padding-top: 2rem;
        min-height: calc(100vh - 15rem);
    }
  }