@import '../abstracts/mixins';
@import '../abstracts/variables';

.footerClass{
    background-color: midnightblue;
    padding: 1rem 3rem 3rem 3rem;
    margin-top: 10rem;
    position: relative;
    z-index: 2;
    bottom: -10rem;

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include respond(phone){
            justify-content: center;
        }

        li{
            list-style: none;
            margin-right: 5rem;
        }

        i{
            font-size: 4rem;
            color: white;
            cursor: pointer;
        }

        .my-email, .my-phone-number{
            position: absolute;
            right: 3rem;
            padding: 1rem 2rem;
            background-color: $color-primary;
            color: white;
            border-radius: 3rem;
            transition: transform 0.5s cubic-bezier(1, 2.5, 0.4, 1.8);
        }

        .resume-link{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            gap: 1rem;
            cursor: pointer;
            background-color: white;
            color: midnightblue;
            padding: 0.5rem 1.5rem;
            border-radius: 3rem;
            font-size: 1rem;
            margin-top: 0.5rem;
            
            i{
                color: midnightblue;
                font-size: 2.5rem;
            }
        }

        a{
            text-decoration: none;
        }
    }
}