@import '../abstracts/mixins';

.header{
    font-size: 6rem;
    text-align: center;
    margin: 3rem;
    font-weight: 300;
    color: var(--heading);

    @include respond(tab-port) { 
        margin: 5rem;
    };
}