@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../base/animations';

.mobileHeader{
    display: none;
    position: absolute;
    transition: margin 1s;

    *{
        transition: transform 0.5s linear;
    }

    @include respond(tab-port) { 
        display: block;
        margin-top: 11rem;
        margin-left: 0rem;
    };

    div{
        z-index: 1000;
        margin-top: 1.3rem;
        margin-left: 2.5rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background-color: $color-primary;
        cursor: pointer;
        transform: rotate(90deg);
        box-shadow: 0 0 0.5rem 0.5rem white;
        
        &:hover{
            background-color: $color-primary-hover;
        }

        span{
            position: relative;
            display: inline-block;
            width: 0.4rem;
            height: 3rem;
            border-radius: 1.5rem;
            background-color: white;
            margin: 1rem 0.25rem;
        }
        .line1{
            margin-left: 1.4rem;
        }
    }
    
    ul{
        position: fixed;
        padding: 10rem;
        display: block;
        height: 100vh;
        width: 100vw;
        text-align: center;
        z-index: 999;
        background-color: $color-primary;

        :hover{
            transform: scale(0.85);
            transition: transform 0.5s;
            background-color: $color-primary-hover;
            color: white;
            list-style: none;
            border-radius: 1rem;
        }
    }

    a{
        display: block;
        color: white;
        font-size: 3rem;
        text-decoration: none;
        line-height: 3;
        width: 100%;
        height: 100%;

        @include respond(phone){
            font-size: 2.5rem;
        }
    }

    li{
        list-style: none;
    }

    :hover{
        color: $color-primary-hover;
    }
}

.open-list{
    div{
        position: absolute;
    }

    ul{
        top: -100vh;
        left: -100vw;
        border-radius: 100%;
        transition: all .5s linear;
    }
}

.exit-list{
    ul{
        top: 0;
        left: 0;
        border-radius: 0;
        transition: all .5s linear;
    }

    div{
        position: fixed;
        transform: rotate(0);
        transition: transform 0.5s linear;
    }
    .line1{
        transform: translateX(0.9rem) rotate(-45deg);
        transition: translate 0.5s linear;
    }
    .line2{
        transform: rotate(45deg);
        transition: transform 0.5s linear;
    }
    .line3{
        transform: translateX(-0.9rem) rotate(225deg);
        transition: translate 0.5s linear;
    }
}

.desktopHeader{
    position: relative;
    z-index: 2;
    margin-top: 0;
    background-color: $color-primary;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
    transition: margin-top 1s;

    @include respond(tab-port) { 
        display: none;
    };

    a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }

    ul{
        padding: 0px;
        margin: 0px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        li{
            list-style: none;
            display: block;
            transition: transform 0.5s;

            &:hover{
                transform: scale(0.85);
                transition: transform 0.5s;
            }
        }
    }
}